@purple: #573D7D;
@royal: #97292a;
@skyblue: #cce4fd;
@gray: #888;
@lightblue: #00AAEB;
@blue: #00A3FF;
@darkblue: #0071B9;
@red: #E4072B;

.blueshadow(){text-shadow: 0 1px 1px #0067c1;}
.anti-alias(){-webkit-text-stroke: 0.2px;}
.grayshadow(){
    .box-shadow(0px, 0px, 1px, 1px, #bbb);
}

.box-shadow(@x:0, @y:0, @blur:1px, @spread: 1px, @color: rgba(0,0,0,.15)){
    -webkit-box-shadow:@x @y @blur @spread @color;
    -moz-box-shadow: @x @y @blur @spread @color;
    box-shadow: @x @y @blur @spread @color;
}

.border-radius(@px){
    border-radius: @px;
}

/* Other
----------------------------------------------------------*/
a {
    outline: none;
    cursor: pointer;
}

input[type="text"], input[type="password"] {
    border: 1px solid #ddd;
    margin-bottom: 5px;
    padding: 4px 8px;
    border-radius: 3px;
}
input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.field-validation-error {
    color: #b94a48;
}
.field-validation-valid {
    display: none;
}
body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.navbar-inverse {
    background: #eee;

    .navbar-nav {
        & > .active {
            & > a {
                background-color: #222222;
            }
        }
        .username {
            font-weight: bold;
        }
    }
}
ul {
    -webkit-padding-start: 0;
}
.thumbnail,.img-thumbnail {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.validation-summary-errors {
    color: #b94a48;
}
.validation-summary-valid {
    display: none;
}
.no-color {
    background-color: white;
    border-style:none;
}
input.input-validation-error {
    border: 1px solid #b94a48;
}
.navbar {
    .navbar-nav {
        & > .active {
            & > a {
                background-color: #f8f8f8;
            }
        }
    }
}


/* main layout
----------------------------------------------------------*/
.jumbotron {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: inherit;
    background-color: #eee;
    padding: 24px 30px;

    h1 {
      font-size: 50px;
      line-height: 1;
      color: inherit;
    }
    p {
      line-height: 1.4;
    }
}

@media (max-width: 767px) {
    .navbar-header {
        width: 100%;
    }

    .navbar-user {
        width: 88%;
        li {
            float: left;
        }
    }
    .navbar-nav {
        margin: 7.5px 0px;
    }
}

/* messages
----------------------------------------------------------*/
.message-wrapper {
    border: 1px solid #ddd;
    margin-bottom: 5px;

    .message-content {
        max-width: 84%;
        min-width: 84%;
        padding: 4px 8px;
        float: left;
        position: relative;
        left: 5px;

        div {
            /*min-height: 57px;*/
        }
    }
    .message-picture {
        float: left;
    }

    small, span {
        color: #777;
        font-size: 11px;
    }
    span {
        float: right;
        line-height: 22px;
    }
}


/* buttons
----------------------------------------------------------*/

button:hover, a.button:hover, input[type="submit"]:hover, input[type="button"]:hover {
    background: #2776BE;
    background: darken(@blue, 20%);
}

button, a.button, input[type="submit"], input[type="button"] {
    color: #fff;
    background: @blue;
    font-size: 12px;
    font-weight: normal;
    padding: 4px 10px;
    border: 0;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
}

.bgred:hover {
    background: darken(@red, 20%) !important;
}
.bgred {
    background: @red !important;
}

img.picture {
    box-shadow: 0 1px 3px rgba(0,0,0,0.75);
    width: 100px;
    height: 75px;
}

.subMenu {
    background: #E7E7FA;
    padding: 8px 15px;
    color: #000;
    display: block;
}

/* profile
----------------------------------------------------------*/
.live-editor {
    display: none;
}
.pictureDiv {
    padding: 2px;
    background: #fff;
    margin-right: 4px;
    border: 1px solid #bbb;

    .pictureImg {
        width: 168px;
        height: auto;
    }
}
.pictureDefault {
    background: #FF8B8B;
}
.profileDetails {
    padding: 10px 0;
    div {
        margin-bottom: 10px;
    }
}
.pictureFeatured {
    float: left;
}

a.pictureDropDownButton {
    background: #fff;
    padding: 4px;
    position: absolute;
    margin-left: 143px;
    margin-top: 2px;
    .border-radius(3px);
    .box-shadow(0, 0, 1px, 1px, #888);
}
a.pictureDropDownButton:active {
    background: #eee;
}

.pictureDropDown {
    width: 135px;
    position: absolute;
    margin-left: 34px;
    margin-top: 9px;



    ul.pictureDropDownMenu {
        background: #fbfbfb;
        margin-top: 25px;
        margin-bottom: 0;
        .box-shadow(0, 0, 1px, 1px, #888);
        display: none;
    }

    li {
        font-size: 12px;
        list-style-type: none;
        border-bottom: 2px solid #fff;
        a {
            padding: 4px 8px;
            text-decoration: none;
            display: block;
        }
    }


}

/* top menu & login
----------------------------------------------------------*/
#topmenu, #login {
    display: block;
    margin: 0 0 10px;
    text-align: right;
    background: #FFFFFC;
    /*border: solid @royal;
    border-width: 7px 1px 1px 1px;*/
}
#login {
    padding: 10px 16px;
    border-left-width: 7px;
    button {
        margin-left: 10px;
    }
    ul {
        margin: 0;
    }
    a {
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }
    a.username {
        background: none;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }
    li {
        display: inline;
        list-style: none;
    }
}
#topmenu {
    padding: 11px;
    border-right-width: 7px;
}


/* page elements
----------------------------------------------------------*/




/* Google / Facebook buttons
----------------------------------------------------------*/
@googleColor: #dd4b39;
@facebookColor: #5f78ab;
@registerColor: #82B157;

#socialLoginList {
    .btn-register:hover, .btn-facebook:hover, .btn-google:hover {
        text-decoration: none;
        text-shadow: none;
    }
    .btn-google:hover {
        background-color: darken(@googleColor, 10%);
    }
    .btn-google {
        background-color: @googleColor;
        border: 1px solid darken(@googleColor, 30%);
        text-shadow: 1px -1px 2px darken(@googleColor, 20%);
    }
    .btn-facebook:hover {
        background-color: darken(@facebookColor, 10%);
    }
    .btn-facebook {
        background-color: @facebookColor;
        border: 1px solid darken(@facebookColor, 30%);
        text-shadow: 1px -1px 2px darken(@facebookColor, 20%);
    }
    .btn-register:hover {
        color:#fff;
        background-color: darken(@registerColor, 10%);
    }
    .btn-register {
        color: #fff;
        background-color: @registerColor;
        border: 1px solid darken(@registerColor, 30%);
        text-decoration: none;
        text-shadow: 1px -1px 2px darken(@registerColor, 20%);
    }
}
.btn-facebook, .btn-google, .btn-twitter {
    padding-left: 53px;
    padding-right: 20px;
}
.btn-facebook:before, .btn-google:before, .btn-twitter:before {
    border-style: solid;
    border-width: 0 1px 0 0;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    top: 0;
    width: 32px;
}
.btn-google:before {
    border-color: darken(@googleColor, 10%);
}
.btn-facebook:before {
    border-color: darken(@facebookColor, 10%);
}
.btn-block {
    width: 100%;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: bold 14px/16px "Lucida Grande",Arial,sans-serif;
    margin: 0;
    padding: 7px 12px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
}

.btn-google:after, .btn-facebook:after {
    height: 32px;
    width: 32px;
}
.btn-google:after {
    background-position: 0 -225px;
}
.btn-facebook:after {
    background-position: 0 -401px;
}
.btn-facebook:after, .btn-google:after, .btn-twitter:after {
    background-image: url('/Content/Images/icon_buttons.png');
    content: " ";
    left: 0;
    margin-top: -16px;
    position: absolute;
    top: 50%;
}


/* Modal pages
----------------------------------------------------------*/
.reveal-modal.xlarge {
    width: 800px;
    margin-left: -440px;
}
.reveal-modal.large {
    width: 600px;
    margin-left: -340px;
}
.reveal-modal.medium {
    width: 400px;
    margin-left: -240px;
}
.reveal-modal.small {
    width: 200px;
    margin-left: -140px;
}
.reveal-modal-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;
    background: rgba(0,0,0,.8);
    z-index: 100;
    display: none;
    top: 0;
    left: 0;
}
.reveal-modal {
    visibility: hidden;
    top: 100px;
    left: 50%;
    margin-left: -300px;
    width: 520px;
    background: #eee;
    position: absolute;
    z-index: 101;
    padding: 30px 40px 34px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
    -box-shadow: 0 0 10px rgba(0,0,0,.4);
    .close-reveal-modal {
        font-size: 22px;
        line-height: .5;
        position: absolute;
        top: 8px;
        right: 11px;
        color: #aaa;
        text-shadow: 0 -1px 1px rbga(0,0,0,.6);
        font-weight: bold;
        cursor: pointer;
    }
}
