@model IEnumerable<MvcDating.Models.VisitorView>

@{
    ViewBag.Title = "Visitors";
}

<h2>
    @Html.ActionLink("Recent visitors", "History", "Visitors")
</h2>

@foreach (var item in Model)
{
    @Html.Partial("_Visitors", item)
}


