@using MvcDating.Helpers
@using MvcDating.Models
@model MvcDating.Models.SearchResultView

<div class="visitorWrapper clearfix">
    <div class="visitorPicture">
        @Html.DisplayAvatar(Model.UserName, "~/Uploads/" + Model.Thumb)
    </div>
    <div class="visitorDetails">
        @Html.Partial("_UserDetails", Model)
    </div>
</div>