@section featured {
    <section class="content-wrapper main-content clear-fix">
        @foreach (string thumb in ViewBag.userPictures)
        {
            <div class="pictureFeatured">
                <img alt="@thumb" src="~/Uploads/@thumb" />
            </div>
        }
    </section>
}
