@using MvcDating.Helpers
@section featured {
    <section class="content-wrapper main-content clear-fix">
        @foreach (string thumb in ViewBag.userPictures)
        {
            <div class="pictureFeatured">
                <img src="~/Uploads/@thumb" class="picture" />
            </div>
        }
    </section>
}

@{
    ViewBag.Title = "Home";
}