@using MvcDating.Helpers
@using MvcDating.Models
@section featured {
    <section class="clearfix">
        @foreach (FeaturedView featured in ViewBag.featuredUsers)
        {
            <div class="pictureFeatured">
                @Html.ImageLink(Url.RouteUrl(
                routeValues: new
                {
                    Action = "Index",
                    Controller = "Profile",
                    username = featured.UserName
                }), Html.Image("~/Uploads/" + featured.Thumb))
            </div>
        }
    </section>
}

@{
    ViewBag.Title = "Home";
}

<div class="jumbotron clearfix">
    <h1>Bounzy Movies</h1>

    <div class="col-md-7">

        <p class="lead">We nigga the wigga.</p>
    </div>

    <div class="col-md-5">
        @Html.Action("ExternalLoginsList", "Account", new { ReturnUrl = ViewBag.ReturnUrl })
    </div>
</div>

<div>
    <div class="col-md-4">
        <p>
            Kittens
        </p>
        <p><a class="btn" href="http://go.microsoft.com/fwlink/?LinkId=301865">Yeah ok &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p>Dogs.</p>
        <p><a class="btn" href="http://go.microsoft.com/fwlink/?LinkId=301866">Yeah ok &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p>Pies.</p>
        <p><a class="btn" href="http://go.microsoft.com/fwlink/?LinkId=301867">Yeah ok &raquo;</a></p>
    </div>
</div>