@using MvcDating.Helpers
@section featured {
    <section class="content-wrapper main-content clear-fix">
        @foreach (string thumb in ViewBag.userPictures)
        {
            <div class="pictureFeatured">
                @Html.Image("~/Uploads/" + thumb, "picture")
            </div>
        }
    </section>
}

@{
    ViewBag.Title = "Home";
}