@using MvcDating.Helpers
@using MvcDating.Models
@model MvcDating.Models.SearchView

@{
    ViewBag.Title = "Index";
}

@Html.Partial("_SearchBox", Model.SearchBox)

<h2>Search Results</h2>

<div>
    @if (!Model.SearchResults.Any())
    {
        <h2>No profiles found for this search. Maybe you could try different settings.</h2>
    }

    @foreach (var item in Model.SearchResults)
    {
        @Html.Partial("_SearchList", item)
    }

</div>
