<div class="form">
    @using (Html.BeginForm("Upload", "Pictures", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <h2>Choose a picture to upload</h2>
        <label for="fileUploader" class="button" style="margin:0">Choose a picture</label>
        <input id="fileUploader" name="imageData" type="file" style="-ms-opacity: 0 !important; opacity: 0 !important; position: absolute" multiple />
        
        <!--[if lte IE 8]>
        <input id="fileUploadbtn" type="submit" value="Upload Now"/>
        <![endif]-->
    }
</div>

<script>
    $(function() {
        $("#fileUploader").on("change", function() {
            $("label[for='fileUploader']").text("Picture chosen");
            $('#fileUploadbtn').click();
        });
    });
</script>