@{
    ViewBag.Title = "Manage my account";
}

<style>
    .main-content {
        background: #3e79a5;
    }
    #manageForm h1 {
        color: #fff;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px #777;
    }
    #manageForm .button:hover {
        background: #1e90ff;
    }
    #manageForm .button {
        font-size: 1.4em;
        margin-bottom: 10px;
        text-shadow: 1px 1px 1px #777;
    }
</style>

<div id="manageForm">
    <div>@Html.ActionLink("Edit profile", "Edit", "Profile", new { username = User.Identity.Name }, new { @class = "button" })</div>
    <div>@Html.ActionLink("Change password", "ChangePassword", "Account", new { @class = "button" })</div>
</div>
